# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mac system xcode
.DS_Store
Icon*
xcuserdata

# android studio
*.iml
.gradle
local.properties
.DS_Store
build
captures
.externalNativeBuild

